div.chessboard {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
div.piece {
    display: block;
    background-color: antiquewhite;
    color: white;
    font-family: 'Noto Sans SC', 'Courier New', monospace;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid;
    border-radius: 100%;
    outline: 3px solid antiquewhite;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    user-select: none; 
}
div.piece[data-color="black"] {
    border-color: black;
    color: black;
}
div.piece[data-color="red"] {
    border-color: red;
    color: red;
}